<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="GridRowCount" value="5"/>
    <add key="GridColumnCount" value="5"/>
    <add key="StartRow" value="3"/>
    <add key="StartColumn" value="3"/>
    <add key="StartDirection" value="North"/>
  </appSettings>
</configuration>